In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../../data/tj3p.csv", sep=";")

In [3]:
df.shape

(3342711, 6)

In [5]:
df.dtypes

COMAX     object
CTPE       int64
CORELB     int64
CESITC     int64
DDVALE    object
DFVALE    object
dtype: object

df.info()

In [4]:
df.head()

        COMAX  CTPE  CORELB  CESITC      DDVALE      DFVALE
0  6e3a2b9fa1     1       1       0  2015-10-12  2016-02-01
1  6e3a2b9fa1     1       1       0  2016-02-01  2017-06-09
2  6e3a2b9fa1     1       1       0  2017-06-09  2018-06-13
3  6e3a2b9fa1     1       1       0  2018-06-13  2019-09-10
4  6e3a2b9fa1     1       1       0  2019-09-10  2019-10-04

# Incpect Variables

## CORELB

In [8]:
df.CORELB.unique()

array([1, 4])

In [5]:
df.CORELB.nunique()

2

In [6]:
df.CORELB.value_counts()

1    2726226
4     616485
Name: CORELB, dtype: int64

In [12]:
corelb = df.CORELB.value_counts(normalize=True)
corelb

1    0.815573
4    0.184427
Name: CORELB, dtype: float64

## CTPE

In [9]:
df.CTPE.unique()

array([1, 2])

In [8]:
df.CTPE.nunique()

2

In [9]:
df.CTPE.value_counts()

1    3135657
2     207054
Name: CTPE, dtype: int64

In [17]:
ctpe = df.CTPE.value_counts(normalize=True)
ctpe

1    0.938058
2    0.061942
Name: CTPE, dtype: float64

In [13]:
df.COMAX.isnull().unique()

array([False])

In [14]:
df[["COMAX", "CTPE", "CORELB"]].to_csv("moral-clients.csv", index=False, sep="\t")