In [1]:
import pandas as pd
import numpy as np

In [2]:
pca = pd.read_csv('../cleaned-data/production/PCA-data.csv', encoding='iso-8859-1', sep='\t')
clients = pd.read_csv('../cleaned-data/cleaned/moral-clients.csv', encoding='iso-8859-1', sep='\t')

In [3]:
pca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637143 entries, 0 to 637142
Data columns (total 38 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   COMAX   637143 non-null  object
 1   PCA-1   637143 non-null  float64
 2   PCA-2   637143 non-null  float64
 3   PCA-3   637143 non-null  float64
 4   PCA-4   637143 non-null  float64
 5   PCA-5   637143 non-null  float64
 6   PCA-6   637143 non-null  float64
 7   PCA-7   637143 non-null  float64
 8   PCA-8   637143 non-null  float64
 9   PCA-9   637143 non-null  float64
 10  PCA-10  637143 non-null  float64
 11  PCA-11  637143 non-null  float64
 12  PCA-12  637143 non-null  float64
 13  PCA-13  637143 non-null  float64
 14  PCA-14  637143 non-null  float64
 15  PCA-15  637143 non-null  float64
 16  PCA-16  637143 non-null  float64
 17  PCA-17  637143 non-null  float64
 18  PCA-18  637143 non-null  float64
 19  PCA-19  637143 non-null  float64
 20  PCA-20  637143 non-null  float64
 21  PCA-21  637143 non-null  float64
 22  PCA-22  637143 non-null  float64
 23  PCA-23  637143 non-null  float64
 24  PCA-24  637143 non-null  float64
 25  PCA-25  637143 non-null  float64
 26  PCA-26  637143 non-null  float64
 27  PCA-27  637143 non-null  float64
 28  PCA-28  637143 non-null  float64
 29  PCA-29  637143 non-null  float64
 30  PCA-30  637143 non-null  float64
 31  PCA-31  637143 non-null  float64
 32  PCA-32  637143 non-null  float64
 33  PCA-33  637143 non-null  float64
 34  PCA-34  637143 non-null  float64
 35  PCA-35  637143 non-null  float64
 36  PCA-36  637143 non-null  float64
 37  PCA-37  637143 non-null  float64
dtypes: float64(37), object(1)
memory usage: 184.7+ MB

In [4]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342711 entries, 0 to 3342710
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   COMAX   object
 1   CTPE    int64
 2   CORELB  int64
dtypes: int64(2), object(1)
memory usage: 76.5+ MB

In [5]:
clients.head(n=2)

        COMAX  CTPE  CORELB
0  6e3a2b9fa1     1       1
1  6e3a2b9fa1     1       1

In [6]:
data = pd.merge(clients,pca,on='COMAX',how='left')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3342711 entries, 0 to 3342710
Data columns (total 40 columns):
 #   Column  Dtype
---  ------  -----
 0   COMAX   object
 1   CTPE    int64
 2   CORELB  int64
 3   PCA-1   float64
 4   PCA-2   float64
 5   PCA-3   float64
 6   PCA-4   float64
 7   PCA-5   float64
 8   PCA-6   float64
 9   PCA-7   float64
 10  PCA-8   float64
 11  PCA-9   float64
 12  PCA-10  float64
 13  PCA-11  float64
 14  PCA-12  float64
 15  PCA-13  float64
 16  PCA-14  float64
 17  PCA-15  float64
 18  PCA-16  float64
 19  PCA-17  float64
 20  PCA-18  float64
 21  PCA-19  float64
 22  PCA-20  float64
 23  PCA-21  float64
 24  PCA-22  float64
 25  PCA-23  float64
 26  PCA-24  float64
 27  PCA-25  float64
 28  PCA-26  float64
 29  PCA-27  float64
 30  PCA-28  float64
 31  PCA-29  float64
 32  PCA-30  float64
 33  PCA-31  float64
 34  PCA-32  float64
 35  PCA-33  float64
 36  PCA-34  float64
 37  PCA-35  float64
 38  PCA-36  float64
 39  PCA-37  float64
dtypes: float64(37), int64(2), object(1)
memory usage: 1.0+ GB

In [9]:
data.head()

,COMAX,CTPE,CORELB,PCA-1,PCA-2,PCA-3,PCA-4,PCA-5,PCA-6,PCA-7,...,PCA-28,PCA-29,PCA-30,PCA-31,PCA-32,PCA-33,PCA-34,PCA-35,PCA-36,PCA-37
0,6e3a2b9fa1,1,1,-0.646623,-0.036604,2.217052,1.189677,-4.046703,0.198388,3.341045,...,-7.684076,-1.054477,0.082188,-0.801875,0.339208,-0.071603,0.864257,0.379414,-0.140253,-0.009858
1,6e3a2b9fa1,1,1,-0.646623,-0.036604,2.217052,1.189677,-4.046703,0.198388,3.341045,...,-7.684076,-1.054477,0.082188,-0.801875,0.339208,-0.071603,0.864257,0.379414,-0.140253,-0.009858
2,6e3a2b9fa1,1,1,-0.646623,-0.036604,2.217052,1.189677,-4.046703,0.198388,3.341045,...,-7.684076,-1.054477,0.082188,-0.801875,0.339208,-0.071603,0.864257,0.379414,-0.140253,-0.009858
3,6e3a2b9fa1,1,1,-0.646623,-0.036604,2.217052,1.189677,-4.046703,0.198388,3.341045,...,-7.684076,-1.054477,0.082188,-0.801875,0.339208,-0.071603,0.864257,0.379414,-0.140253,-0.009858
4,6e3a2b9fa1,1,1,-0.646623,-0.036604,2.217052,1.189677,-4.046703,0.198388,3.341045,...,-7.684076,-1.054477,0.082188,-0.801875,0.339208,-0.071603,0.864257,0.379414,-0.140253,-0.009858

In [10]:
# delete nan values, aka the empty cells
data = data.dropna()

In [11]:
data.shape

(2979146, 40)

In [12]:
data.to_csv('../cleaned-data/production/final-mc-data.csv', sep='\t')