In [1]:
# Load modules for data manipulation
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import os

In [2]:
load_dotenv()

True

In [5]:
clt = pd.read_csv(os.getenv('CLEANED_DATA_PATH') + '/' + 'TJ38.csv', encoding='ISO-8859-1', sep='\t', usecols=['COMAX'])
tr = pd.read_csv(os.getenv('META_DATA_PATH') + '/' + 'tr35-01.csv', encoding='ISO-8859-1', sep=';', low_memory=False)

In [13]:
tr = tr[tr['CTPE'] == 1]

In [14]:
tr.shape

(2075487, 161)

In [18]:
comax = clt['COMAX'].values
data = tr[tr['COMAX'].isin(comax)]

In [16]:
tr.shape

(1865496, 161)

In [25]:
for file in [str(i).zfill(2) for i in range(2, 13)][-2:]:
    print('tr35-{}.csv'.format(file))
    tr = pd.read_csv(os.getenv('META_DATA_PATH') + '/' + 'tr35-{}.csv'.format(file), encoding='ISO-8859-1', sep=';', low_memory=False)
    tr = tr[tr['CTPE'] == 1]
    tr = tr[tr['COMAX'].isin(comax)]
    data = pd.concat([data, tr])
    
    del tr

tr35-11.csv
tr35-12.csv

In [28]:
data['COMAX'].nunique()

516200

In [33]:
data[data['COMAX'] == '53e00f4c23']

,COMAX,COPFCI,COEM,CTCOPO,COESPF,CTPE,COGRRB,COSGPA,CTMENB,COCINS,...,QCPEAICF,QCPEAIBQ,QCPEAIFC,QCPEAIFL,QCPEAITR,QCPEAIIR,QCPEAIAP,QCPEAIDI,QFPEAISR,QCPEAIBP
426607,53e00f4c23,aef6bc6341,e4e9d3da9e,527,16aa008b0a,1,f94fdbb8b3,3200,07,11397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
604387,53e00f4c23,aef6bc6341,e4e9d3da9e,527,16aa008b0a,1,f94fdbb8b3,3200,07,11397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1235704,53e00f4c23,aef6bc6341,6b16359725,527,16aa008b0a,1,f94fdbb8b3,3200,07,11397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1403953,53e00f4c23,aef6bc6341,8cf4f60d9d,527,16aa008b0a,1,f94fdbb8b3,3200,07,11397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1974023,53e00f4c23,aef6bc6341,2e317663a7,527,16aa008b0a,1,f94fdbb8b3,3200,07,11397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498169,53e00f4c23,aef6bc6341,6b16359725,527,16aa008b0a,1,f94fdbb8b3,3200,07,11397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1096833,53e00f4c23,aef6bc6341,8cf4f60d9d,527,16aa008b0a,1,f94fdbb8b3,3200,07,11397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1683951,53e00f4c23,aef6bc6341,2e317663a7,527,16aa008b0a,1,f94fdbb8b3,3200,07,11397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1868873,53e00f4c23,aef6bc6341,2e317663a7,527,16aa008b0a,1,f94fdbb8b3,3200,07,11397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1925891,53e00f4c23,803b61c324,3b488679a4,541,ed951d3440,1,f98cb60082,3200,02,30189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
def wow(lol):
    global data
    for shit in lol.split('\n'):
        print(shit)
        print(data[shit].nunique())
        print(data[shit].unique())
        print('\n')

In [48]:
shit = '''
'''
cols = [i for i in shit.split('\n')]
cols = [i for i in cols if i in data.columns]

In [56]:
data = data[cols]

In [77]:
wow('''COPFCI
COEM
CTPE''')

COPFCI
1469
['d378509698' '2b4e95fe50' 'ac10a12275' ... 'a63debb0ac' '590c49a810'
 'f9c50d9e16']


COEM
1539
['747832c2a6' '5b20a0f34a' '2a25395979' ... '53bad583d7' '7ee6bb03b4'
 '48e6154271']


CTPE
1
[1]

In [81]:
shit = '''QCPRMO
QCPRPO
QTEQUI
PSGASS
MTAUCT
MTUTCT
QCTFEFCT
QCFEFMLT
QCTFEFXFC
QCFEISAS
QCFEINTR
QCFETRES
QFAMESGR
QCPEAICF
QCPEAIBQ
QCPEAIFC
QCPEAIFL
QCPEAITR
QCPEAIIR
QCPEAIAP
QCPEAIDI
QFPEAISR
QCPEAIBP
COPFCI
COEM
CTPE
'''
cols = [i for i in shit.split('\n')]
cols.pop()

In [82]:
for col in cols:
    del data[col]

KeyError: ''

In [113]:
data = data.drop_duplicates(subset="COMAX")

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 516200 entries, 0 to 2261264
Columns: 109 entries, COMAX to QFPROSGR
dtypes: float64(42), int64(36), object(31)
memory usage: 433.2+ MB

In [89]:
data.shape

(516200, 109)

In [90]:
poste =  pd.read_csv(os.getenv('DATA_PATH') + '/' + 'tj24.csv', encoding='ISO-8859-1', sep=';')
pc = pd.read_csv(os.getenv('DATA_PATH') + '/' + 'post_codes.csv', encoding='ISO-8859-1', sep='\t')

In [93]:
data['COPOST'] = data['COPOST'].astype(str)
pc['COPOST'] = pc['COPOST'].astype(str)

In [94]:
# concatenate clients with the latitide longtitue data
temp = pd.merge(poste, pc, on='COPOST', how='left')

In [95]:
data = pd.merge(data, temp, on='COMAX', how='left')

In [97]:
del data['COPOST_y']

In [98]:
data.rename(columns={'COPOST_x': 'COPOST'}, inplace=True)

In [100]:
wow('QCPREV')

QCPREV
7
[nan  2.  0.  1.  3.  4.  5.  6.]

In [103]:
# get the list of miss typed data
lol = list()
for i in data['CTSCPI'].unique():
    if not i.isdigit():
        lol.append(i)
        
# replce the missed data, and miss created one with nan values
data['CTSCPI'].replace(lol, np.nan, inplace=True)

In [105]:
lol = list()

for i in data['COPOST'].unique():
    if not str(i).isdigit():
        lol.append(i)

In [107]:
# replce the missed data, and miss created one with nan values
data['COPOST'].replace(lol, np.nan, inplace=True)
data['LAT'].replace(lol, np.nan, inplace=True)
data['LON'].replace(lol, np.nan, inplace=True)

In [109]:
data.shape

(2700351, 111)

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 516200 entries, 0 to 2700350
Columns: 111 entries, COMAX to LON
dtypes: float64(44), int64(36), object(31)
memory usage: 441.1+ MB

In [114]:
data

,COMAX,CTCOPO,COESPF,COGRRB,COSGPA,CTMENB,COCINS,COPOST,CTSIFA,CTSCPI,...,QCPREV,QCIARD,MTFLPR,MTFLCO,MTRSFI,MTRSMO,QCFPRORB,QFPROSGR,LAT,LON
0,39e4b5c00a,582,d10869c66b,194acf0904,3200,04,34172,34000,1,5500,...,NaN,NaN,NaN,NaN,0.00,5605.00,NaN,NaN,43.6109,3.8772
1,77cedb77d9,527,c3ea678087,fd7c332a52,3200,07,66136,66000,2,6700,...,NaN,NaN,NaN,NaN,7565.88,0.00,NaN,NaN,42.6976,2.8954
2,cfb9f1d41b,542,76b274b0ad,e9a0dda18b,3200,07,66021,66430,5,4700,...,2.0,1.0,NaN,NaN,11021.49,21477.82,NaN,NaN,42.7333,2.9333
3,3a738f58cc,542,cb74f7d1d3,7044fd434c,3200,07,66148,66660,5,4200,...,NaN,NaN,NaN,NaN,0.00,5104.67,NaN,NaN,42.6360,2.9165
4,57fdb1b811,582,7db43147e8,85bda13ea9,3200,01,66050,66530,1,4300,...,NaN,NaN,NaN,NaN,30.00,11.22,NaN,NaN,42.6976,2.8954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2700339,bdff614b8e,542,3683ca7eb9,7bb252f99f,3200,01,66136,66000,1,8400,...,NaN,NaN,NaN,NaN,0.00,340.11,NaN,NaN,42.6976,2.8954
2700340,3e9a7786fa,015,1a611ac154,4f6ceedba1,3200,07,34226,34310,1,8400,...,NaN,NaN,NaN,NaN,0.00,69.01,NaN,NaN,43.3554,2.9410
2700347,9155efe92a,711,fec4cbfaa3,31cc7457b4,3200,01,34332,34450,1,6300,...,1.0,0.0,NaN,NaN,0.00,837.55,NaN,NaN,43.3046,3.3337
2700349,f77e145033,542,2e090fd987,a59c956c6b,3200,08,30189,30000,1,8400,...,NaN,NaN,NaN,NaN,0.00,740.33,NaN,NaN,43.8338,4.3596
2700350,17d92d31c1,582,d10869c66b,16ffe4f872,3200,08,34172,34070,1,8400,...,NaN,NaN,NaN,NaN,0.00,10.00,NaN,NaN,43.6109,3.8772

In [116]:
data.to_csv(os.getenv('CLEANED_DATA_PATH') + '/' + 'TR35.csv', index=False, sep="\t")

In [118]:
# data.fillna(data.mean() , inplace = True)

In [120]:
data.shape

(516200, 111)

In [123]:
data['QCPREV'] = data['QCPREV'].fillna(data['QCPREV'].mean())

/home/herharf/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [129]:
for i in zip(data.isna().any().index, data.isna().any().values):
    if i[1]:
        print(i)

('COPOST', True)
('CTSCPI', True)
('MTCDIM', True)
('MTRECD', True)
('MTRETT', True)
('QCPRDI', True)
('QCPRCP', True)
('QCPRQU', True)
('QCPRFI', True)
('QCPRTR', True)
('QCPRAS', True)
('QCPRPR', True)
('MTELDD', True)
('MTECEL', True)
('MTEPEL', True)
('MTECSL', True)
('MTEPEP', True)
('MTELEP', True)
('MTELIJ', True)
('MTECIM', True)
('MTECCS', True)
('MTECEQ', True)
('MTECTR', True)
('MTEEML', True)
('MTEASV', True)
('MTECTO', True)
('MTECPA', True)
('MTE19D', True)
('MTE21D', True)
('MTEEMC', True)
('MTESOC', True)
('MCTOTA', True)
('MCTOTE', True)
('QTCLIF', True)
('QCBPFA', True)
('QCIARD', True)
('MTFLPR', True)
('MTFLCO', True)
('MTRSFI', True)
('MTRSMO', True)
('QCFPRORB', True)
('QFPROSGR', True)

In [133]:
data['CTSCPI'].unique()

/home/herharf/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.